:host {
  display: block;
}

.app {

  max-width: 600px;
  margin: 0 auto;

  &__nav {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    border-bottom: 1px solid #eee;

    li {
      padding: 0;
      margin: 0 10px 0 0;
      list-style: none;
      display: inline-block;

      a {
        padding: 5px 10px;
        display: block;
      }

      &.active {
        a {
          background: pink;
        }
      }
    }
  }
}
